
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    margin-bottom: 20px;
}
h1, h2 {
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    body {
        background-color: rgb(17, 17, 19);
        color: white;
    }
    h1 {
        font-size: 1.5rem;
    }
}
